* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
}

:root{
    --darkblue: rgb(0, 0, 116);
    --cream: rgb(248, 253, 219);
}

header {
    position:fixed;
    width: 100%;
    text-align: center;
    background-color: var(--darkblue);
    color: var(--cream);
    font-size:3em;
}

.top-section {
    display: flex;
    border-radius: 10px;
    border: solid;
    border-width: 5px;
    border-color: var(--darkblue);
}

#aside {
    background-color: var(--cream);
    color: var(--darkblue);
    font-size: large;
    font-weight: bold;
    margin-top: 3em;
}

/* this is the image of me */
#abe_eats {
    max-width: 100%;
    max-height: 100%;
    min-width: 400px;
    min-height: auto;
}

nav ul {
    text-align: center;
}

#about-me {
    background-color: var(--cream);
    color: var(--darkblue); 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: larger;
}

article h2 {
    text-align: center;
    font-size: x-large;
    margin: 4em 4em 0 4em;
    padding: 5%;
}

#about-me p{
    padding: 5%;
    margin: 0 2em 2em 2em;
    text-align: center;
}

#my-work {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#my-work:hover {
    /* placeholder code
    border: green;
    color: yellow; */
}

/* these are the boxes showcasing my work */
.work-boxes {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    border-radius: 10px;
    border-color: var(--darkblue);
    text-align: center;
    color: var(--darkblue);
    background-color: var(--cream);
    margin:1%;
}

.work-boxes img {
    height: 150px;
    width: 250px;
}

.coming-soon:hover {
    border-color: aqua;
}

.hidden h3 {
    display:none;
    position: relative;
    bottom: 4%;
}

#biggest-project {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    margin: 2% 25%;
}

#biggest-project img {
    height: auto;
    width: 40em;
}

footer {
    text-align: center;
    background-color: var(--cream);
    color: var(--darkblue);
    margin: 2% 0;
    border-style: solid;
    border-width: 1px;
}

@media screen and (max-width: 667px) {
    .top-section {flex-wrap: wrap;}
    #abe_eats {min-width: 100%;}
    header {font-size: 2em;}
    #aside {margin-top:2em;}
    #biggest-project img {height: 250px;
        width: 250px;}
}

@media screen and (min-width: 1878px) {
    #biggest-project {margin: 0 30%;}
}